$paleBlue: hsl(225, 100%, 94%);
$paleHoverBlue: hsl(260, 82%, 72%);
$brightBlue: hsl(245, 75%, 52%);
$vPaleBlue: rgb(245, 247, 255);
$desaturatedBlue: hsl(224, 23%, 55%);
$darkBlue: hsl(223, 47%, 23%);  
// $paleBlue: hsl(225, 100%, 94%);